
.box{
    height: 400px;
    width: 500px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 50px;
    margin-left: 100px;
    padding: 50px;
    margin-left: 350px;

}
.box:hover{
    height: 380px;
    border-radius:70px;
    transition: .3s;
}
.inputField
{
    height: 40px;
    border-radius: 30px;
    margin-top: 40px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;   
    text-align: center;
    
}
.temp{
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    margin-top: 50px;
}